.social {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 17.3rem;
  width: 2.4rem;
  color: #fff;
  text-align: center;
  margin-left: -3rem;
  align-self: center;
}
.social .follow {
  transform: rotate(90deg);
  margin-right: 2rem;
  width: 8rem;
  font-family: Gilroy;
  font-size: 18px;
  line-height: 22px;
}
.social .social-icons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.social .social-icons i {
  font-size: 2rem;
  margin-left: 3rem;
  margin-top: 2rem;
}
