.footer-social {
  display: none;
  justify-content: start;
  flex-direction: row;
}
.footer-social p {
  font-size: 2rem;
  padding-bottom: 2rem;
  margin-right: 1rem;
}
.footer-social i {
  font-size: 2rem;
  margin-right: 1rem;
}
.footer-title {
  margin-bottom: 2.4rem;
}
.footer-title a {
  font-family: "Chronicle Display Semibold";
  font-size: 32px;
  line-height: 38px;
  letter-spacing: 0.01em;
  margin-bottom: 2.4rem;
  text-decoration: none;
}
.footer-info {
  font-weight: bold;
  font-size: 18px;
  line-height: 32px;
  margin-bottom: 7.2rem;
}
.footer-copyright {
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  opacity: 0.5;
}
