* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
@font-face {
  font-family: "Chronicle Display Roman";
  font-style: normal;
  font-weight: normal;
  src: url(../src/fonts/Chronicle\ Display\ Roman.woff);
}

@font-face {
  font-family: "Chronicle Display Semibold";
  font-style: normal;
  font-weight: normal;
  src: url(../src/fonts/Chronicle\ Display\ Semibold.woff);
}
@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: normal;
  src: url(../src/fonts/Gilroy-Regular.woff);
}

html {
  font-size: 10px;
  font-family: Gilroy;
  line-height: 22px;
}
body {
  height: 446rem;
  background: url(../src/img/botshadow.png) no-repeat 0 115rem,
    url(../src/img/human.png) no-repeat 0 70rem,
    url(../src/img/mountain.png) no-repeat 0 40rem,
    url(../src/img/topshadow.png) no-repeat 0 0,
    url(../src/img/clouds.png) no-repeat 0 -40rem, #0b1d26;
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  color: #fbd784;
  transition: 0.5s;
}
.container {
  display: flex;
  flex-direction: column;
  margin: 50rem auto -50rem auto;
  width: 146.2rem;
}
#menu__toggle {
  opacity: 0;
}