@media all and (max-width: 1680px) {
  .container .footer {
    justify-content: space-between;
  }

  .topic-two-image img,
  .topic-one-image img,
  .topic-three-image img {
    height: 50rem;
  }
}
@media all and (max-width: 1500px) {
  .main .title {
    font-size: 50px;
    line-height: 60px;
    margin-bottom: 2rem;
    margin-top: 1.2rem;
  }

  .container {
    width: 100%;
  }
  .container .topic-one {
    flex-direction: column;
    margin-bottom: 4rem;
  }
  .container .topic-one .topic-one-text {
    align-self: center;
    height: 0;
    height: 53rem;
    margin-right: 0rem;
  }
  .container .topic-one .topic-one-text .number {
    font-size: 140px;
  }
  .container .topic-one .topic-one-text .topic .topic-main {
    font-size: 50px;
  }
  .container .topic-two {
    flex-direction: column;
    margin-bottom: 4rem;
  }
  .container .topic-two .topic-two-image {
    order: 2;
  }
  .container .topic-two .topic-two-text {
    align-self: center;
    height: 53rem;
    order: 1;
    padding-left: 0rem;
  }
  .container .topic-two .topic-two-text .number-two {
    left: 13rem;
    font-size: 140px;
  }
  .container .topic-two .topic-two-text .topic .topic-main-two {
    font-size: 50px;
  }
  .container .footer {
    justify-content: space-evenly;
    margin-bottom: 5rem;
    margin-top: 5rem;
  }
  .container .footer .links {
    font-size: 2rem;
  }
}
@media all and (max-width: 1200px) {
  .container .footer {
    flex-direction: column;
  }
  .container .footer .footer-left-side {
    order: 2;
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-top: 10rem;
    margin-bottom: 3rem;
    align-items: center;
  }
  .container .footer .footer-left-side .footer-info {
    margin-bottom: 3.2rem;
  }
  .container .footer .footer-left-side .footer-social {
    display: flex;
  }
  .container .footer .links {
    order: 1;
    justify-content: space-around;
    margin-top: 4rem;
  }
  .container .footer .links .blog {
    margin-right: 5.2rem;
  }
  .container .footer .links .blog li {
    font-size: 18px;
  }

  .Main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 13rem 8rem 0 8rem;
    align-items: center;
  }
  .Main .social {
    display: none;
  }
  .Main .slider {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 18px;
    margin-top: 4rem;
    width: 23.7rem;
    text-align: center;
    align-self: center;
  }
  .Main .slider .start,
  .Main .slider .title-one,
  .Main .slider .title-two,
  .Main .slider .title-three {
    width: 5rem;
    border-bottom: 2px solid #fff;
    border-right: none;
    height: 4rem;
    padding-top: 10%;
  }
  .Main .slider div:hover {
    color: #fbd784;
    transition: 0.5s;
    background-color: rgba(255, 255, 255, 0.151);
    transition: 0.5s;
    border-right: none;
    transition: 0.1s;
    border-bottom: 4px solid #fff;
  }
}
@media all and (max-width: 940px) {
  body {
    height: 446rem;
    background: url(../src/img/botshadow.png) no-repeat 0 115rem,
      url(../src/img/human.png) no-repeat -30rem 70rem,
      url(../src/img/mountain.png) no-repeat 0 40rem,
      url(../src/img/topshadow.png) no-repeat 0 0,
      url(../src/img/clouds.png) no-repeat 0 -40rem, #0b1d26;
  }

  .Header {
    justify-content: center;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #25373e;
    width: 100%;
    padding: 6.4rem 8rem 0 8rem;
    margin: auto;
    z-index: 5;
    /* add burger" */
  }
  .Header #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }
  .Header #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  .Header #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  .Header #menu__toggle:checked ~ .nav {
    visibility: visible;
    top: 0;
    left: 0;
  }
  .Header .menu__btn {
    display: flex;
    /* use flex to center content */
    align-items: center;
    /* center buttn content */
    position: fixed;
    top: 7rem;
    right: 4rem;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 5;
  }
  .Header .menu__btn > span,
  .Header .menu__btn > span::before,
  .Header .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
    transition-duration: 0.25s;
  }
  .Header .menu__btn > span::before {
    content: "";
    top: -8px;
  }
  .Header .menu__btn > span::after {
    content: "";
    top: 8px;
  }
  .Header .nav {
    transition-duration: 0.25s;
  }
  .Header .nav li {
    transition-duration: 0.25s;
    font-size: 30px;
    line-height: 100%;
  }
  .Header .nav li {
    margin-right: 0rem;
  }
  .Header .nav {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 180px 0;
    list-style: none;
    text-align: center;
    background-color: #c0c0c0d8;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
    color: #000;
  }
  .Header .nav li a{
    font-size: 50px;
    line-height: 150%;
  }
  .Header .nav li a {
    color: #000;
  }
  .Header .nav li a:hover {
    text-decoration: underline;
    color: #fbd784;
  }
  .Header .profile {
    justify-content: center;
  }
  .Header .profile .fa-user-circle:before,
  .Header .profile .account {
    font-size: 50px;
  }

  .main {
    margin: 7rem 2rem 0 2rem;
    text-align: center;
  }
  .main .title{
      font-size: 40px;
  }
  .main .scroll {
    margin: 0 auto;
  }

  .container .topic-one .topic-one-text {
    width: none;
  }
  .container .topic-one .topic-one-text .number {
    top: -10rem;
  }
  .container .topic-one .topic-one-text .topic {
    width: 39rem;
    margin-bottom: 20rem;
  }
  .container .topic-two {
    margin-bottom: 12rem;
  }
  .container .topic-two .topic-two-text {
    width: 39rem;
    margin-bottom: 10rem;
  }
  .container .topic-two .topic-two-text .number-two {
    top: 1rem;
  }

  #scrollToTop {
    right: 3rem;
    bottom: 6rem;
  }
}
@media all and (max-width: 475px) {
  body {
    height: 446rem;
    background: url(../src/img/botshadow.png) no-repeat 0 115rem,
      url(../src/img/human.png) no-repeat -40rem 70rem,
      url(../src/img/mountain.png) no-repeat 0 40rem,
      url(../src/img/topshadow.png) no-repeat 0 0,
      url(../src/img/clouds.png) no-repeat 0 -40rem, #0b1d26;
  }

  .Header {
    justify-content: space-evenly;
  }
  .Header .nav li {
    margin-right: 0rem;
  }
  .Header .logo {
    font-size: 40px;
  }

  .main .main-title .dash {
    width: 4rem;
  }
.main .main-title p {
    font-size: 15px;
  }
.main .title {
    width: 300px;
    font-size: 30px;
  }

  .container .topic-two-image img,
  .container .topic-one-image img,
  .container .topic-three-image img {
    height: 35rem;
  }
  .container .topic-one-image img,
  .container .topic-three-image img {
    margin-top: 10rem;
  }
  .container .topic-two-image img {
    margin-top: 14rem;
  }
  .container .topic-one .topic-one-text {
    width: 28rem;
  }
  .container .topic-one .topic-one-text .number {
    top: 0;
  }
  .container .topic-one .topic-one-text .topic {
    margin-bottom: 2rem;
  }
  .container .topic-one .topic-one-text .topic .topic-main {
    font-size: 30px;
  }
  .container .topic-one .topic-one-text .topic .topic-info {
    font-size: 15px;
  }
  .container .topic-two .topic-two-text {
    margin-bottom: -5rem;
    width: 28rem;
  }
  .container .topic-two .topic-two-text .topic .topic-main-two {
    font-size: 30px;
  }
  .container .topic-two .topic-two-text .topic .topic-info-two {
    font-size: 15px;
  }
  .container .footer {
    padding: 0 1.5rem 0 1.5rem;
  }
  .container .footer .footer-copyright {
    font-size: 15px;
  }
  .container .footer .links {
    flex-direction: column;
    align-self: center;
  }
  .container .footer .links .blog {
    order: 1;
    margin-bottom: 4rem;
    text-align: center;
    margin-right: 0;
    font-size: 20px;
  }
  .container .footer .links .blog li {
    font-size: 15px;
  }
  .container .footer .links .more {
    order: 2;
    text-align: center;
    font-size: 20px;
  }
  .container .footer .links .more li {
    font-size: 15px;
  }
  .container .footer #scrollToTop {
    right: 1rem;
    bottom: 12rem;
  }
}
